# Core
APP_ID=123456
API_HASH="YOUR_API_HASH"
BOT_TOKEN="YOUR_BOT_TOKEN"
OWNER=123456789

# Database
DATABASE_URL="mongodb+srv://user:pass@cluster.mongodb.net/encbot?retryWrites=true&w=majority"
DBNAME="encbot"

# Encoding (Defaults)
DEFAULT_CODEC="hevc265"
DEFAULT_PRESET="slow"
DEFAULT_CRF=24
DUAL_AUDIO="True"

# Upload Behaviour
UPLOAD_AS_VIDEO="True"
UPLOAD_VIDEO_AS_SPOILER="False"
FILENAME_AS_CAPTION="True"

# Workers
WORKERS=4
